Syntax and Semantics in Python

Outline: 
Single line Comments and multiline comments

Definition of Syntax and Semantics

Basic Syntax Rules in Python

Understanding Semantics in Python

Common Syntax Errors and How to Avoid Them

Practical Code Examples

Syntax refers to the set of rules that defines the combinations of symbols that are considered to be correctly structured programs in a language. In simpler terms, syntax is about the correct arrangement of words and symbols in a code.

Semantics refers to the meaning or the interpretation of the symbols, characters, and commands in a language. It is about what the code is supposed to do when it runs.

In [1]:
##Basic rules in Python

'''
an example of multi-line comment
'''

'''
Welcome to the python world
This is a simple example of a multi-line comment
'''


##Case sensitive

name = "John"
Name = "Doe"

print(name)  # Output: John
print(Name)  # Output: Doe

John
Doe

Indentation
Indentation in Python is used to define the structure and hierarchy of the code. Unlike many other programming languages that use braces {} to delimit blocks of code, Python uses indentation to determine the grouping of statements. This means that all the statements within a block must be indented at the same level.

In [2]:
##Indentation
## Python uses indentation to define the scope of loops, functions, and classes.

age = 25
if age > 18:
    print("Adult")
    
print("Not an adult")  # This line is not part of the if block

Adult
Not an adult

In [3]:
## This is a single line comment
print("Hello World")

Hello World

In [4]:
###line continuation

total = 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + \
       11 + 12 + 13 + 14 + 15 + 16 + 17 
       
print(total)  # Output: 153

153

In [5]:
##multiple statements on a single line
x = 5; y = 10; z = 15
print(x, y, z)  # Output: 5 10 15

5 10 15

In [6]:
##understanding sematic in python
#variable assignment
age= 25 ##age is an integer
name = "John" ##name is a string

In [9]:
type(age)  # Get the type of the variable age

int

In [10]:
type(name)  # Get the type of the variable name

str

In [11]:
#type inference
variable = 10  # This is an integer
print(type(variable))  # Output: <class 'int'>
variable = "Hello"  # Now it's a string
print(type(variable))  # Output: <class 'str'>

<class 'int'>
<class 'str'>

In [12]:
age = 25
if age > 18:
    print("Adult")

Adult

In [13]:
##Name error
a=b

NameError: name 'b' is not defined

In [14]:
##code example of identation
if True:
    print("Correct Indentation")
    if False:
        print("Incorrect Indentation")
    print("This line is not indented correctly")
print("End of block")

Correct Indentation
This line is not indented correctly
End of block

Variables in Python

Variables
Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

Outline:

Introduction to Variables

Declaring and Assigning Variables

Naming Conventions

Understanding Variable Types

Type Checking and Conversion

Dynamic Typing

In [15]:
a=100

In [16]:
##declaring and assigning variables
age = 25
name = "John"
height = 5.9
is_student = True

##Printing variables
print("Age:", age)
print("Name:", name)
print("Height:", height)
print("Is Student:", is_student)

Age: 25
Name: John
Height: 5.9
Is Student: True

In [17]:
##Naming conventions
##Vairabl names should be descriptive and meaningful
##they should not start with a letter or an underscore and should not contain special characters
##Variable names should be in lowercase and use underscores to separate words
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name
print("Full Name:", full_name)

Full Name: John Doe

In [ ]:
##Inavlid variable names
# 1st_name = "John"  # Invalid: starts with a digit
# first-name = "John"  # Invalid: contains a hyphen
# first name = "John"  # Invalid: contains a space

In [18]:
##case sensitivity
name = "Alice"
Name = "Bob"

In [20]:
##understanding variable types
##Python has several built-in data types, including:
age = 25  # Integer
height = 5.9  # Float
name = "John"  # String
is_student = True  # Boolean

print(type(age))  # Output: <class 'int'>
print(type(height))  # Output: <class 'float'>

<class 'int'>
<class 'float'>

In [21]:
age = 25
print(type(age))  # Output: <class 'int'>

#type converson 
age_str = str(age)  # Convert integer to string
print(type(age_str))  # Output: <class 'str'>
age_float = float(age)  # Convert integer to float

<class 'int'>
<class 'str'>

In [22]:
heightt = 5.9
type(heightt)  # Output: <class 'float'>

float

In [23]:
float(int(heightt))  # Convert float to integer

5.0

In [24]:
var = 10
print(type(var))  # Output: <class 'int'>

var = 10.5
print(type(var))  # Output: <class 'float'>

<class 'int'>
<class 'float'>

In [25]:
#input function
name = input("Enter your name: ")
age = int(input("Enter your age: "))  # Convert input to integer
print("Name:", name)
print("Age:", age)

Name: Fredrick
Age: 27

In [27]:
#simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
operation = input("Enter operation (+, -, *, /): ")
if operation == "+":
    result = num1 + num2
elif operation == "-":
    result = num1 - num2
elif operation == "*":
    result = num1 * num2    
elif operation == "/":
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Error: Division by zero"
        
print("Result:", result)  # Output: Result: <calculated value>

Result: 4500.0

Data Types
1. Definition:

Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.

They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

2. Importance of Data Types in Programming:

Data types ensure that data is stored in an efficient way.

They help in performing correct operations on data.

Proper use of data types can prevent errors and bugs in the program.

Outline:

Introduction to Data Types

Importance of Data Types in Programming

Basic Data Types

Integers

Floating-point numbers

Strings

Booleans

4. Advanced Data Types

Lists

Tuples

Dictionaries

Sets

5.Type Conversion

6. Practical Examples

In [28]:
##integer example
age = 25
print(type(age))  # Output: <class 'int'>

<class 'int'>

In [29]:
##floating datatyoe

height = 5.9
print(type(height))  # Output: <class 'float'>

<class 'float'>

In [30]:
##String datatype
name = "John"
print(type(name))  # Output: <class 'str'>

<class 'str'>

In [31]:
##booolean datatype
is_student = True
print(type(is_student))  # Output: <class 'bool'>

<class 'bool'>

In [32]:
bool_var = False
print(type(bool_var))  # Output: <class 'bool'>

<class 'bool'>

In [33]:
a=10
b=10
print(a==b)  # Output: True

True

## Deep Dive into Operators

**Outline:**

1. Introduction to Operators  
2. Arithmetic Operators  
   - Addition  
   - Subtraction  
   - Multiplication  
   - Division  
   - Floor Division  
   - Modulus  
   - Exponentiation  
3. Comparison Operators  
   - Equal to  
   - Not equal to  
   - Greater than  
   - Less than  
   - Greater than or equal to  
   - Less than or equal to  
4. Logical Operators  
   - AND  
   - OR  
   - NOT  
5. Practical Examples and Common Errors

In [34]:
##Arithmetic operators
a = 10
b = 5
sum = a + b
diff = a - b
product = a * b
quotient = a / b
remainder = a % b
exponent = a ** b
floor_division = a // b
print("Sum:", sum)  # Output: Sum: 15
print("Difference:", diff)  # Output: Difference: 5
print("Product:", product)  # Output: Product: 50
print("Quotient:", quotient)  # Output: Quotient: 2.0
print("Remainder:", remainder)  # Output: Remainder: 0
print("Exponent:", exponent)  # Output: Exponent: 100000
print("Floor Division:", floor_division)  # Output: Floor Division: 2

Sum: 15
Difference: 5
Product: 50
Quotient: 2.0
Remainder: 0
Exponent: 100000
Floor Division: 2

In [35]:
##comparison operators
a = 10
b = 5
print(a == b)  # Output: False
print(a != b)  # Output: True
print(a > b)  # Output: True
print(a < b)  # Output: False
print(a >= b)  # Output: True

False
True
True
False
True

In [ ]:
##Logic operators
a = True
b = False
print(a and b)  # Output: False
print(a or b)  # Output: True
print(not a)  # Output: False

False
True
False

### Conditional Statements (if, elif, else)

**Outline:**

1. Introduction to Conditional Statements  
2. if Statement  
3. else Statement  
4. elif Statement  
5. Nested Conditional Statements  
6. Practical Examples  
7. Common Errors and Best Practices

In [ ]:
##if  else statement
age = 18
if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

You are an adult.

In [38]:
##elif statement
age = 18
if age < 13:
    print("You are a child.")
elif age < 18:
    print("You are a teenager.")
elif age < 65:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

You are an adult.

In [39]:
##Nested Conditional Statements

#i can place one or more if, elif, or else statements inside another if, elif, or else statement

num = int(input("Enter a number: "))

if num > 0:
    print("Positive number")
    if num % 2 == 0:
        print("Even number")
    else:
        print("Odd number")
else:
    print("Negative number")
    if num % 2 == 0:
        print("Even number")
    else:
        print("Odd number")

Negative number
Odd number

In [40]:
##determine if a year is a leap year using nested conditional statements
year = int(input("Enter a year: "))
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print(year, "is a leap year.")
        else:
            print(year, "is not a leap year.")
    else:
        print(year, "is a leap year.")

1996 is a leap year.

In [41]:
##determining the ticket price based on age and student status
age = int(input("Enter your age: "))
is_student = input("Are you a student? (yes/no): ").lower()
if age < 18:
    ticket_price = 5
elif age >= 18 and age < 65:
    if is_student == "yes":
        ticket_price = 10
    else:
        ticket_price = 15
else:
    ticket_price = 8
print("Ticket price:", ticket_price)

Ticket price: 5

### Loops

**Outline:**

1. Introduction to Loops  
2. for Loop  
   - Iterating over a range  
   - Iterating over a string  
3. while Loop  
4. Loop Control Statements  
   - break  
   - continue  
5. Nested Loops  
6. Practical Examples and Common Errors

In [42]:
range(5)

range(0, 5)

In [43]:
##for loop

for i in range(5):
    print(i)  # Output: 0 1 2 3 4

0
1
2
3
4

In [44]:
for i in range(1, 6):
    print(i)  # Output: 1 2 3 4 5

1
2
3
4
5

In [45]:
for i in range(1, 6, 2):
    print(i)  # Output: 1 3 5

1
3
5

In [46]:
for i in range(1, 10, 2):
    print(i)  # Output: 1 3 5 7 9

1
3
5
7
9

In [47]:
for i in range(1, 15, 3):
    print(i)  # Output: 1 4 7 10 13

1
4
7
10
13

In [48]:
##strings

str= "Hello, World!"

for i in str:
    print(i)  # Output: H e l l o ,   W o r l d !

H
e
l
l
o
,

W
o
r
l
d
!

In [49]:
##while loop
##the while loop is used to execute a block of code repeatedly as long as a condition is true

count = 0
while count < 5:
    print(count)
    count += 1  # Increment count by 1

0
1
2
3
4

In [50]:
count = 0

while count%2==0:
    print(count)
    count += 1  # Increment count by 1

0

In [51]:
##lopp control statements
##break statement
##the break statement is used to exit a loop prematurely when a certain condition is met
##break statement

for i in range(10):
    if i == 5:
        break  # Exit the loop when i is 5
    print(i)  # Output: 0 1 2 3 4

0
1
2
3
4

In [52]:
##statement skip the current iteration and move to the next iteration
for i in range(30):
    if i % 2 == 0:
        continue  # Skip even numbers
    print(i)  # Output: 1 3 5 7 9 ... 29

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [53]:
##passing the statement is a null operation
for i in range(10):
    if i==3:
        pass  # Do nothing for i=3
    print(i)  # Output: 0 1 2 3 4 5 6 7 8 9

0
1
2
3
4
5
6
7
8
9

In [54]:
##Nested loops
for i in range(3):  # Outer loop
    for j in range(2):  # Inner loop
        print("i:", i, "j:", j)  # Output: i: 0 j: 0, i: 0 j: 1, i: 1 j: 0, i: 1 j: 1, i: 2 j: 0, i: 2 j: 1

i: 0 j: 0
i: 0 j: 1
i: 1 j: 0
i: 1 j: 1
i: 2 j: 0
i: 2 j: 1

In [57]:
##Calculated the sum of first N natural numbers using a while loop and loop 

#while loop 

for num in range(1, 101):
    if num>1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num, "is a prime number") 
    else:
        print(num, "is not a prime number")

1 is not a prime number
2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number
31 is a prime number
37 is a prime number
41 is a prime number
43 is a prime number
47 is a prime number
53 is a prime number
59 is a prime number
61 is a prime number
67 is a prime number
71 is a prime number
73 is a prime number
79 is a prime number
83 is a prime number
89 is a prime number
97 is a prime number

### Introduction to Lists

- Lists are ordered, mutable collections of items.  
- They can contain items of different data types.  

**Outline:**  
1. Introduction to Lists  
2. Creating Lists  
3. Accessing List Elements  
4. Modifying List Elements 
5. List Methods 
6. Slicing Lists 
7. Iterating Over Lists
8. List Comprehensions  
9. Nested Lists  
10. Practical Examples and Common Errors

In [58]:
lst=[]
print(type(lst))  # Output: <class 'list'>

<class 'list'>

In [60]:
names = ["Alice", "Bob", "Charlie"]
print(names)  # Output: <class 'list'>

['Alice', 'Bob', 'Charlie']

In [61]:
mixed_list = [1, "Hello", 3.14, True]
print(mixed_list)  # Output: [1, "Hello", 3.14, True]

[1, 'Hello', 3.14, True]

In [62]:
###Accessing list elements

fruits = ["apple", "banana", "cherry"]

In [64]:
print(fruits[0])  # Output: apple
print(fruits[1])  # Output: banana

print(fruits[2])  # Output: cherry
print(fruits[-1])  # Output: cherry (last element)

print(fruits[-2])  # Output: banana (second last element)
print(fruits[1:3])  # Output: ['banana', 'cherry'] (slicing)

print(fruits[:2])  # Output: ['apple', 'banana'] (slicing)
print(fruits[1:])  # Output: ['banana', 'cherry'] (slicing)

apple
banana
cherry
cherry
banana
['banana', 'cherry']
['apple', 'banana']
['banana', 'cherry']

In [65]:
#modifying list elements
fruits = ["apple", "banana", "cherry"]
fruits[1] = "orange"  # Change the second element
print(fruits)  # Output: ['apple', 'orange', 'cherry']

['apple', 'orange', 'cherry']

In [66]:
fruits[1:] = "apple"

In [67]:
fruits

['apple', 'a', 'p', 'p', 'l', 'e']

In [68]:
fruits=["apple", "banana", "cherry", "orange"]
print(fruits)  # Output: ['apple', 'banana', 'cherry', 'orange']

['apple', 'banana', 'cherry', 'orange']

In [69]:
fruits.insert(2, "kiwi")  # Insert "kiwi" at index 2
print(fruits)  # Output: ['apple', 'banana', 'kiwi', 'cherry', 'orange']

['apple', 'banana', 'kiwi', 'cherry', 'orange']

In [70]:
fruits.remove("banana")  # Remove "banana" from the list
print(fruits)  # Output: ['apple', 'kiwi', 'cherry', 'orange']

['apple', 'kiwi', 'cherry', 'orange']

In [72]:
#remove and return the last element
last_fruit = fruits.pop()  # Remove and return the last element
print(last_fruit)  # Output: orange
print(fruits)  # Output: ['apple', 'kiwi', 'cherry']

cherry
['apple', 'kiwi']

In [73]:
index = fruits.index("kiwi")  # Get the index of "kiwi"
print(index)  # Output: 1

1

In [74]:
fruits.insert(2, "Mango")  # Insert "Mango" at index 2
print(fruits)  # Output: ['apple', 'kiwi', 'Mango', 'cherry']

['apple', 'kiwi', 'Mango']

In [ ]:
fruits.reverse()  # Reverse the list
print(fruits)  # Output: ['Mango', 'kiwi', 'apple']

['Mango', 'kiwi', 'apple']

In [76]:
#Slicing a list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[2:5])  # Output: [3, 4, 5]
print(numbers[:5])  # Output: [1, 2, 3, 4, 5]
print(numbers[5:])  # Output: [6, 7, 8, 9, 10]
print(numbers[::2])  # Output: [1, 3, 5, 7, 9]

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [77]:
numbers[::]  # Output: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [78]:
###iteration over a list

for fruit in fruits:
    print(fruit)  # Output: apple kiwi cherry

Mango
kiwi
apple

In [80]:
##iterating over a list using index
for index, fruit in enumerate(fruits):
    print(index, fruit)  # Output: 0 apple, 1 kiwi, 2 cherry

0 Mango
1 kiwi
2 apple

In [ ]:
##list comprehension
list = []
for i in range(10): # Generate squares of numbers from 0 to 9
    list.append(i**2)
    
print(list)  # Output: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [82]:
[i**2 for i in range(10)]  # Output: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### List Comprehension

- **Basic Syntax:**  
  ```python
  [expression for item in iterable]

nwstwed list compre

In [83]:
##Basic list comprehension

squares = [x**2 for x in range(10)]  # Generate squares of numbers from 0 to 9
print(squares)  # Output: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [85]:
##list comprehension with condition
list = []
for i in range(10):  # Generate squares of even numbers from 0 to 9
    if i % 2 == 0:
        list.append(i**2)
print(list)  # Output: [0, 4, 16, 36, 64]

[0, 4, 16, 36, 64]

In [86]:
even_number =  [num for num in range(10) if num % 2 == 0]  # Generate squares of even numbers from 0 to 9
print(even_number)  # Output: [0, 2, 4, 6, 8]

[0, 2, 4, 6, 8]

In [87]:
##neted list comprehension

lst1 = [1, 2, 3]
lst2 = [4, 5, 6]

result = [[x, y] for x in lst1 for y in lst2]
print(result)  # Output: [[1, 4], [1, 5], [1, 6], [2, 4], [2, 5], [2, 6], [3, 4], [3, 5], [3, 6]]

[[1, 4], [1, 5], [1, 6], [2, 4], [2, 5], [2, 6], [3, 4], [3, 5], [3, 6]]

In [88]:
#list comprehension with function cells 
word = ["hello", "world", "python"]
word_length = [len(w) for w in word]  # Get the length of each word
print(word_length)  # Output: [5, 5, 6]

[5, 5, 6]

### Real-World Examples Using Lists in Python

Lists are one of the most commonly used data structures in Python, thanks to their versatility and ease of use. Here are several practical examples that illustrate their use in real-world scenarios:

**Example 1. Manage A To Do List**  
- Create a To Do List To Keep Track Of Tasks

In [89]:
to_do_list = ["task1", "task2", "task3"]

##adding to task 
to_do_list.append("task4")  # Add "task4" to the end of the list
to_do_list.append("task5")  # Add "task5" to the end of the list

#removing a completedtask
to_do_list.remove("task2")  # Remove "task2" from the list

##checking if a tasj is in the list
if "task1" in to_do_list:
    print("task1 is in the list")

print("To-Do List:", to_do_list)  # Output: To-Do List: ['task1', 'task3', 'task4', 'task5']
for task in to_do_list:
    print(task)  # Output: task1 task3 task4 task5
##Sorting a list

task1 is in the list
To-Do List: ['task1', 'task3', 'task4', 'task5']
task1
task3
task4
task5

In [91]:
##organising students grade
grades = [85, 92, 78, 90, 88]

#adding a new grade
grades.append(95)  # Add a new grade

#calculating the average grade
average_grade = sum(grades) / len(grades)
print("Average Grade:", average_grade)  # Output: Average Grade: 88.0

#finding th highest and lowest grade
highest_grade = max(grades)
lowest_grade = min(grades)
print("Highest Grade:", highest_grade)  # Output: Highest Grade: 95
print("Lowest Grade:", lowest_grade)  # Output: Lowest Grade: 78

TypeError: 'int' object is not callable

In [92]:
##managing inventory
inventory = ["apple", "banana", "orange"]

#adding new items
inventory.append("grape")  # Add "grape" to the inventory

#removing an item that is out of stock

inventory.remove("banana")  # Remove "banana" from the inventory
#checking if an item is in stock
if "apple" in inventory:
    print("Apple is in stock")  # Output: Apple is in stock
else:
    print("Apple is out of stock")
    
#printing the inventory
print("Inventory:", inventory)  # Output: Inventory: ['apple', 'orange', 'grape']

Apple is in stock
Inventory: ['apple', 'orange', 'grape']

In [95]:
##collecting user feedback
feedback = ["Great product", "Needs improvement", "Could be better!", "Excellent service"]

#adding new feedback
feedback.append("Very satisfied")  # Add new feedback

#counting the specific feedback
positive_feedback_count = sum(1 for comment in feedback if "Great" in comment.lower() or "Excellent" in comment.lower())
print("Positive Feedback Count:", positive_feedback_count)  # Output: Positive Feedback Count: 2

#prining the feedback
print("Feedback:", feedback)  # Output: Feedback: ['Great product', 'Needs improvement', 'Excellent service', 'Very satisfied']
for comment in feedback:
    print(comment)  # Output: Great product Needs improvement Excellent service Very satisfied

TypeError: 'int' object is not callable

### Sets

Sets are a built-in data type in Python used to store collections of unique items. They are unordered, meaning that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference, and symmetric difference.

In [96]:
##Create a set 
my_set = {1, 2, 3, 4, 5}
print(my_set)  # Output: {1, 2, 3, 4, 5}
my_set = {1, 2, 3, 4, 5}
print(type(my_set))  # Output: <class 'set'>

{1, 2, 3, 4, 5}
<class 'set'>

In [97]:
my_empty_set = set()  # Create an empty set
print(my_empty_set)  # Output: set()
print(type(my_empty_set))  # Output: <class 'set'>

set()
<class 'set'>

In [100]:
my_empty_set = set([1, 2, 3, 4, 5, 6])  # Create a set with elements
print(my_empty_set)  # Output: {1, 2, 3}

{1, 2, 3, 4, 5, 6}

In [101]:
##Basic sets operations
##adding and removing elements
my_set.add(6)  # Add an element to the set
print(my_set)  # Output: {1, 2, 3, 4, 5, 6}
my_set.remove(3)  # Remove an element from the set
print(my_set)  # Output: {1, 2, 4, 5, 6}

{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

In [103]:
my_set.discard(2)  # Discard an element from the set
print(my_set)  # Output: {1, 4, 5, 6}

{1, 4, 5, 6}

In [104]:
##pop method 
removed_element = my_set.pop()  # Remove and return an arbitrary element
print(removed_element)  # Output: 1 (or any other element)
print(my_set)  # Output: {4, 5, 6}

1
{4, 5, 6}

In [105]:
##clear all the elements in the set
my_set.clear()  # Clear all elements from the set
print(my_set)  # Output: set()

set()

In [106]:
##set membership test 
my_set = {1, 2, 3, 4, 5}
print(3 in my_set)  # Output: True
print(6 in my_set)  # Output: False

True
False

In [108]:
##Mathematical set operations
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = set1.union(set2)  # Union of two sets
print(set3)  # Output: {1, 2, 3, 4, 5}

#set intersection
set4 = set1.intersection(set2)  # Intersection of two sets
print(set4)  # Output: {3}

#set difference
set5 = set1.difference(set2)  # Difference of two sets
print(set5)  # Output: {1, 2}

#set symmetric difference
set6 = set1.symmetric_difference(set2)  # Symmetric difference of two sets
print(set6)  # Output: {1, 2, 4, 5}

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

In [109]:
##set methods 
set1 = {1, 2, 3}
set2 = {3, 4, 5}

##is subset
print(set1.issubset(set2))  # Output: False
print(set1.issubset({1, 2, 3, 4, 5}))  # Output: True
print(set2.issubset({1, 2, 3, 4, 5}))  # Output: True

False
True
True

Tuples in Python

### Tuples

**Outline:**  
1. Introduction to Tuples  
2. Creating Tuples  
3. Accessing Tuple Elements  
4. Tuple Operations  
5. Immutable Nature of Tuples  
6. Tuple Methods  
7. Packing and Unpacking Tuples  
8. Nested Tuples  
9. Practical Examples and Common Errors

### Introduction to Tuples

Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [110]:
##creating a tuple 
empty_tuple = ()  # Create an empty tuple
print(empty_tuple)  # Output: ()
print(type(empty_tuple))  # Output: <class 'tuple'>

()
<class 'tuple'>

In [111]:
lst = list()
print(type(lst))  # Output: <class 'list'>
tpl = tuple()
print(type(tpl))  # Output: <class 'tuple'>

TypeError: 'list' object is not callable

In [112]:
numbers = tuple([1, 2, 3, 4, 5])  # Create a tuple with element
numbers

(1, 2, 3, 4, 5)

In [113]:
mixed_tuple = (1, "Hello", 3.14, True)  # Create a mixed tuple
print(mixed_tuple)  # Output: (1, "Hello", 3.14, True)

(1, 'Hello', 3.14, True)

In [114]:
##Assessing tuple elements

numbers

(1, 2, 3, 4, 5)

In [115]:
print(numbers[2])

3

In [116]:
numbers[::-1]  # Output: (5, 4, 3, 2, 1)

(5, 4, 3, 2, 1)

In [117]:
#tuple operations

concatenation_tuple = numbers + mixed_tuple
print(concatenation_tuple)  # Output: (1, 2, 3, 4, 5, 1, "Hello", 3.14, True)

(1, 2, 3, 4, 5, 1, 'Hello', 3.14, True)

In [118]:
mixed_tuple * 3

(1, 'Hello', 3.14, True, 1, 'Hello', 3.14, True, 1, 'Hello', 3.14, True)

In [119]:
##Immutavke nature of tuples
##Tuples are immutable, meaning their elements cannot be changed after creation 

lst = [1, 2, 3]
lst[1] = "Krish"
print(lst)  # Output: [1, 'Krish', 3]

[1, 'Krish', 3]

In [ ]:
numbers[1]= "Krish"  # This will raise a TypeError

TypeError: 'tuple' object does not support item assignment

In [121]:
##Tuple Methods 
print(numbers.count(2))  # Output: 1 (count of 2 in the tuple)

1

In [124]:
##Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [125]:
##Packing and Unpacking Tuples

packed_tuple = 1, "Hello", 3.14
print(packed_tuple)  # Output: (1, "Hello", 3.14)

(1, 'Hello', 3.14)

In [126]:
##unpacking a tuple
a, b, c = packed_tuple

print(a)  # Output: 1
print(b)  # Output: Hello
print(c)  # Output: 3.14

1
Hello
3.14

### Dictionaries

Dictionaries are unordered collections of items. They store data in key-value pairs. Keys must be unique and immutable (e.g., strings, numbers, or tuples) while values can be of any data type.

**Outline:**
1. Introduction to Dictionaries  
2. Creating Dictionaries  
3. Accessing Dictionary Elements  
4. Modifying Dictionary Elements  
5. Dictionary Methods  
6. Iterating Over Dictionaries  
7. Nested Dictionaries  
8. Dictionary Comprehensions  
9. Practical Examples and Common Errors

In [127]:
##creating Dictionaries
empty_dict = {}  # Create an empty dictionary
print(empty_dict)  # Output: {}
print(type(empty_dict))  # Output: <class 'dict'>

{}
<class 'dict'>

In [128]:
empty_dict = dict()  # Create an empty dictionary
empty_dict

{}

In [129]:
student = {"name": "John", "age": 25, "grade": "A"}  # Create a dictionary with key-value pairs
print(student)  # Output: {'name': 'John', 'age': 25, 'grade': 'A'}

{'name': 'John', 'age': 25, 'grade': 'A'}

In [130]:
##Error 
student = {"name": "John", "age": 25, "grade": "A"}  # Create a dictionary with key-value pairs
print(student)  # Output: {'name': 'John', 'age': 25, 'grade': 'A'}

{'name': 'John', 'age': 25, 'grade': 'A'}

In [131]:
#Single key is always is used
student = {"name": "John", "age": 25, "grade": "A"}  # Create a dictionary with key-value pairs
print(student)  # Output: {'name': 'John', 'age': 25, 'grade': 'A'}

{'name': 'John', 'age': 25, 'grade': 'A'}

In [132]:
print(student["name"])  # Output: John
print(student["age"])  # Output: 25
print(student["grade"])  # Output: A

##Accessing dictionary elements
print(student.get("name"))  # Output: John
print(student.get("age"))  # Output: 25 
print(student.get("grade"))  # Output: A

John
25
A
John
25
A

##Modifying dictionary elements
## Dictionary are m

In [134]:
##Modifying dictionary elements
## Dictionary are mutable, meaning you can change their values after creation
print(student)  # Output: {'name': 'John', 'age': 25, 'grade': 'A'}

{'name': 'John', 'age': 25, 'grade': 'A'}

In [135]:
student["age"] = 26  # Change the value of the "age" key
print(student)  # Output: {'name': 'John', 'age': 26, 'grade': 'A'}
student["grade"] = "B"  # Change the value of the "grade" key
print(student)  # Output: {'name': 'John', 'age': 26, 'grade': 'B'}

{'name': 'John', 'age': 26, 'grade': 'A'}
{'name': 'John', 'age': 26, 'grade': 'B'}

In [136]:
del student["grade"]  # Delete the "grade" key-value pair
print(student)  # Output: {'name': 'John', 'age': 26}

{'name': 'John', 'age': 26}

In [138]:
##Dictionary methods 

keys=student.keys()  # Get all keys in the dictionary
print(keys)  # Output: dict_keys(['name', 'age'])
values=student.values()  # Get all values in the dictionary

items=student.items()  # Get all key-value pairs in the dictionary
print(items)  # Output: dict_items([('name', 'John'), ('age', 26)])

dict_keys(['name', 'age'])
dict_items([('name', 'John'), ('age', 26)])

In [139]:
##Shallow copy 
student_copy = student.copy()  # Create a shallow copy of the dictionary
print(student_copy)  # Output: {'name': 'John', 'age': 26}

{'name': 'John', 'age': 26}

In [140]:
student["name"] = "Alice"  # Change the name in the original dictionary
print(student)  # Output: {'name': 'Alice', 'age': 26}  
print(student_copy)  # Output: {'name': 'John', 'age': 26}  # Copy remains unchanged

{'name': 'Alice', 'age': 26}
{'name': 'John', 'age': 26}

In [141]:
student_copy = student.copy()  # Create a shallow copy of the dictionary
print(student_copy)  # Output: {'name': 'Alice', 'age': 26}
print(student)  # Output: {'name': 'Alice', 'age': 26}

{'name': 'Alice', 'age': 26}
{'name': 'Alice', 'age': 26}

In [142]:
##iterating over a dictionary
##Iterating over a dictionary using keys

##Iterating over keys
for keys in student.keys():
    print(keys)  # Output: name age

name
age

In [148]:
##iterating over values
for value in student.values():
    print(keys)  # Output: John 26

age
age

In [149]:
##Iterate over key-value pairs
for key, value in student.items():
    print(key, ":", value)  # Output: name : John age : 26

name : Alice
age : 26

In [150]:
##Iterate over key-value pair
for key, value in student.items():
    print(key, ":", value)  # Output: name : John age : 26

name : Alice
age : 26

In [151]:
#MNested Dictionaries
students = {
    "student1": {"name": "Alice", "age": 20},
    "student2": {"name": "Bob", "age": 22},
}
print(students)

{'student1': {'name': 'Alice', 'age': 20}, 'student2': {'name': 'Bob', 'age': 22}}

In [152]:
##Access nested dictionaries elements 
print(students["student1"]["name"])  # Output: Alice
print(students["student2"]["age"])  # Output: 22

Alice
22

In [153]:
students.items()  # Output: dict_items([('student1', {'name': 'Alice', 'age': 20}), ('student2', {'name': 'Bob', 'age': 22})])

dict_items([('student1', {'name': 'Alice', 'age': 20}), ('student2', {'name': 'Bob', 'age': 22})])

In [154]:
##Iterating over key-value pairs
for student_id, student_info in students.items():
    print(student_id, ":", student_info)  # Output: student1 : {'name': 'Alice', 'age': 20} student2 : {'name': 'Bob', 'age': 22}

student1 : {'name': 'Alice', 'age': 20}
student2 : {'name': 'Bob', 'age': 22}

In [155]:
##Iterating over nested dictionaries
for student_id, student_info in students.items():
    print(student_id)  # Output: student1 student2
    for key, value in student_info.items():
        print(key, ":", value)  # Output: name : Alice age : 20 name : Bob age : 22

student1
name : Alice
age : 20
student2
name : Bob
age : 22

In [156]:
##Dictionary Comprehension
squares = {x: x**2 for x in range(5)}  # Create a dictionary of squares
print(squares)  # Output: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [157]:
##condition dictionary comprehension
events={x: x**2 for x in range(10) if x%2==0}  # Create a dictionary of squares of even numbers
print(events)  # Output: {0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [159]:
##Practical example of dictionary comprehension

##Use a dictionary comprehension to create a dictionary that maps numbers to their squares

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
frequency = {}

for number in numbers:
    if number in frequency:
        frequency[number] += 1
    else:
        frequency[number] = 1   
print(frequency)  # Output: {1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1, 10: 1}

{1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1, 10: 1}

In [160]:
#Merge 2 dctionaries into one

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

merged_dict = {**dict1, **dict2}  # Merge two dictionaries
print(merged_dict)  # Output: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

## Functions in Python

**Outline:**

1. Introduction to Functions  
2. Defining Functions  
3. Calling Functions  
4. Function Parameters  
5. Default Parameters  
6. Variable-Length Arguments  
7. Return Statement

In [161]:
def function_name(parameters):
    """Docstring: Description of the function."""
    # Function body
    return expression  # Optional return statement

In [162]:
##why functions?
num = 24
if num % 2 == 0:
    print(num, "is even")
else:
    print(num, "is odd")

24 is even

In [164]:
def even_or_odd(num):
    """Check if a number is even or odd."""
    if num % 2 == 0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

In [165]:
def even_or_odd(num):
    """Check if a number is even or odd."""
    if num % 2 == 0:
        print("The number is even")
    else:
        print("The number is odd")

In [166]:
##call this function 
even_or_odd(24)  # Output: The number is even

The number is even

In [167]:
## Function with multiple parameters

def add_numbers(a, b):
    """Add two numbers."""
    return a + b

result = add_numbers(5, 10)
print(result)  # Output: 15

15

In [168]:
##Defult parameters
def greet(name):
    print(f"Hello, {name}!")


greet("Alice")  # Output: Hello, Alice!

Hello, Alice!

In [178]:
##variable length arguments 
##Positional and keyword arguments

def print_info(*krish):
    for number in krish: 
        print(number)

In [179]:
print_info(1, 2, 3, 4, 5, "krish")  # Output: 1 2 3 4 5

1
2
3
4
5
krish

In [ ]:
#positional and keyword arguments
def print_info(*args):
    for number in args: 
        print(number)

In [181]:
#keywrod arguments

def print_details(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [182]:
print_details(name="Alice", age=25, city="New York")  # Output: name: Alice age: 25 city: New York

name: Alice
age: 25
city: New York

In [ ]:
##Variable assignment
def print_details(*args, **kwargs): 
    for arg in args: # Iterate over positional arguments
        print(f" Positional argument: {arg}")
    for key, value in kwargs.items(): # Iterate over keyword arguments
        print(f"{key}: {value}")

In [186]:
print_details(1,2,3,4, "Alice",name="Alice", age=25, city="New York")  # Output: name: Alice age: 25 city: New York

1
2
3
4
Alice
name: Alice
age: 25
city: New York

In [187]:
##Return statement
def multiply(a, b):
    return a * b

multiply(5, 10)  # Output: 50

50

Function Examples 

- **Example 1:** Temperature Conversion  
- **Example 2:** Password Strength Checker  
- **Example 3:** Calculate the Total Cost Of Items In a Shopping Cart  
- **Example 4:** Check If a String Is Palindrome  
- **Example 5:** Calculate the Factorials of a Number Using Recursion

In [194]:

#Example 1:** Temperature Conversion##

def celcius_temperature(temp, unit):
    """Convert Celsius to Fahrenheit."""
    if unit=="C":
        return temp * 9/5 + 32 ##Convert Celsius to Fahrenheit
    elif unit=="F":
        return (temp - 32) * 5/9 ##Convert Fahrenheit to Celsius
    else:
        return None 
    
print(celcius_temperature(25, "C"))  # Output: 77.0
print(celcius_temperature(77, "F"))  # Output: 25.0

77.0
25.0

In [197]:
##*Example 2:** Password Strength Checker  

def password_strength(password):
    """Check the strength of a password."""
    if len(password) < 8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.isalpha() for char in password):
        return False
    if not any(char in "!@#$%^&*()_+" for char in password):
        return False
    return True
    
print(password_strength("P@ssw0rd"))  # Output: True
print(password_strength("password"))  # Output: False
print(password_strength("12345678"))  # Output: False4
print(password_strength("P@ssword"))  # Output: False
print(password_strength("P@ssw0rd123"))  # Output: True
print(password_strength("P@ssw0rd!"))

True
False
False
False
True
True

In [200]:
##- **Example 3:** Calculate the Total Cost Of Items In a Shopping Cart  

def calculate_total_cost(cart):
    total_cost = 0
    for item_data in cart.values():
        total_cost += item_data["price"] * item_data["quantity"]
        
    return total_cost

    """Calculate the total cost of items in a shopping cart."""

cart = {
    "item1": {"name": "Apple", "price": 0.5, "quantity": 3},
    "item2": {"name": "Banana", "price": 0.25, "quantity": 5},
    "item3": {"name": "Orange", "price": 0.75, "quantity": 2},
}

## Calling the function
total_cost = calculate_total_cost(cart)
print( total_cost)  # Output: Total Cost: 5.25

4.25

In [202]:
## **Example 4:** Check If a String Is Palindrome 

def is_palindrome(string):
    s = string.lower().replace(" ","")  # Convert to lowercase
    """Check if a string is a palindrome."""
    return s == s[::-1]

print(is_palindrome("A man a plan a canal Panama"))  # Output: True
print(is_palindrome("Hello"))  # Output: False

True
False

In [203]:
##- **Example 5:** Calculate the Factorials of a Number Using Recursion  

def factorial(n):
    """Calculate the factorial of a number using recursion."""
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
    
print(factorial(5))  # Output: 120
print(factorial(0))  # Output: 1

120
1

In [ ]:
##- **Example 6** A function to read a file and count the frequency of each word in the file

def count_word_frequency(file_path):
    word_count = {}
    with open(file_path, "r") as file:
        for line in file:
            words = line.split()
            for word in words:
                word = word.lower().strip('.,!?;:\'')  # Convert to lowercase
                word_count[word] = word_count.get(word, 0) + 1
    return word_count

filepath = "sample.txt"  # Replace with your file path