### Pandas â€“ DataFrame and Series

Pandas is a powerful data manipulation library in Python, widely used for data analysis and data cleaning. It provides two primary data structures: **Series** and **DataFrame**. A **Series** is a one-dimensional array-like object, while a **DataFrame** is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns).

In [2]:
import pandas as pd
data = [1,2,3,4,5]
series = pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
##Create a Series  from a dictionary
data = {'a': 1, 'b': 2, 'c': 3}
series = pd.Series(data)
print(series)

a    1
b    2
c    3
dtype: int64

In [4]:
data = [10, 20, 30, 40, 50]
index = ['a', 'b', 'c', 'd', 'e']
pd.Series(data, index=index)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [ ]:
##Datafrane
## Create a DataFrame from a dictionary

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print(df)
print(type(df))

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
<class 'pandas.core.frame.DataFrame'>

In [7]:
import numpy as np

np.array(df)

array([['Alice', 25, 'New York'],
       ['Bob', 30, 'Los Angeles'],
       ['Charlie', 35, 'Chicago']], dtype=object)

In [9]:
## create a DataFrame from a list of lists
data = [
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'Los Angeles'],
    ['Charlie', 35, 'Chicago']
]

columns = ['Name', 'Age', 'City']
df = pd.DataFrame(data, columns=columns)
print(df)
print(type(df))

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
<class 'pandas.core.frame.DataFrame'>

In [10]:
df['Salary'] = [50000, 60000, 70000]
print(df)

      Name  Age         City  Salary
0    Alice   25     New York   50000
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000

In [11]:
#remove a column
df.drop('Salary', axis=1, inplace=True)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [14]:
df.describe() #
# Returns a summary of statistics for numerical columns
# Returns the first 5 rows of the DataFrame
df.head()
# Returns the last 5 rows of the DataFrame
df.tail()
# Returns the number of rows and columns in the DataFrame
df.shape
# Returns the data types of each column
df.dtypes
# Returns the index of the DataFrame
df.index
# Returns the columns of the DataFrame
df.columns
# Returns the values of the DataFrame
df.values
# Returns the number of rows in the DataFrame
len(df)
# Returns the number of columns in the DataFrame
df.shape[1]
# Returns the number of rows in the DataFrame
df.shape[0]

3